
/* Your CSS Code here. */
.container-fluid{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.line1{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	flex-wrap:nowrap;
	margin:10px;
}
.l1{
	width:7%;
}
.line2{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	flex-wrap:nowrap;
	margin:10px;
}
.l2{
	width:15%;
}
.line3{
	display:flex;
	flex-diretion:row;
	justify-content:space-around;
	flex-wrap:nowrap;
}
.l3{
	width:30%;
}
line4{
	display:flex;
	flex-direction:row;
	margin:10px;
	justify-content:space-around;
	flex-wrap:nowrap;
}